body{
background-color:white;
}
.navbar{
border-radius:0;
}
.navbar-brand{
font-family:'Satisfy',cursive;
}
.add-button{
background-color:yellow;

display:inline;
position:absolute;
top:60px;
right:20px;

}